# -----------------------------------
# 1. LARGE DATA FILES (Primary Fix for 2.51 GB Push Error)
# -----------------------------------

patient/

# Ignore common virtual environment folders
venv/
.venv/
env/

# Ignore Python bytecode and temporary files
__pycache__/
*.pyc
*.log
